

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

header{
    background-color: rgb(62, 249, 255);
    height: 216px;
}

header h2{
    padding-top: 40px;
    margin-bottom: 20px;
    font-size: 44px;
    color: #fff;
    text-align: center;
}

header .search{
    width: 460px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 6px;
    display: flex;
}

header .search input{
    flex-grow: 1;
    color: #000;
}

header .search input::placeholder{
    color: #000;
}

header .search input,
header.search button {
    border: none;
    outline: none;
    background-color: none;
    /* padding-top: 15px;
    padding-bottom: 15px; */
    padding: 15px;
    border-radius: 6px;
}

header.search button{
    background-color: #ed3052;
    color: #fff;
    
}

/* w-card */

.w-card{
    width: 360px;
    margin: 50px auto auto auto;
    height: 325px;
    /* border: 1px solid red; */
    padding: 30px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 5px 20px 0px #1b6c7240;
}

.w-card h3{
    font-size: 12px;
    margin-bottom: 20px;
}

.w-card h3 span{
    font-size: 12px;
}

.w-card .temp{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.w-card .temp h1{
    font-size: 92px;
    margin-bottom: 20px;
    vertical-align: top;
}

.w-card .temp h1 span{
    font-size: 38px;
    margin-bottom: 20px;
}

.w-card p{
    font-size: 20px;
    margin-bottom: 7px;
}

.w-card p span{
    font-size: 14px;
}